sketch
{
display:flex;
align-items:center;
justify-content:center;
}


div#page-content{
  margin:20rpx;
  padding:20rpx;
}


table
{
  /*width: auto*/
width: auto;
height: auto;
font: 19px Arial;
}
table, th, td
{
/*border: solid 2px #D1D3D5;*/
border-collapse: collapse;
padding: 3px 4px;
text-align: center;
}




personas.td-text{
  font-size:16rpx;
}